html {
  --font-white: hsl(0, 0%, 100%);
  --down-blue: hsl(230, 17%, 14%);
  --top-blue: hsl(232, 19%, 15%);
  --card-blue: hsl(228, 28%, 20%);
  --card-text-blue: hsl(228, 34%, 66%);
  --pale-top: hsl(225, 100%, 98%);
  --facebook: hsl(208, 92%, 53%);
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --twitter: hsl(203, 89%, 53%);
  --youtube: hsl(348, 97%, 39%); }

html[data-theme='light'] {
  --font-white: hsl(230, 17%, 14%);
  --down-blue: hsl(0, 0%, 100%);
  --top-blue: hsl(225, 100%, 98%);
  --card-blue: hsl(227, 47%, 96%);
  --card-text-blue: hsl(228, 12%, 44%);
  --pale-top: hsl(225, 100%, 98%);
  --facebook: hsl(208, 92%, 53%);
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --twitter: hsl(203, 89%, 53%);
  --youtube: hsl(348, 97%, 39%); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Inter'; }

.card {
  background: var(--card-blue); }

.card:hover {
  opacity: 0.9; }

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden; }

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--lime-green);
  float: right;
  border-radius: 100px;
  position: relative; }

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--top-blue);
  border-radius: 90px;
  transition: 0.3s; }

input:checked + label {
  background: #aeb3cb; }

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%); }

label:active:after {
  width: 45px; }

#home {
  background: var(--down-blue);
  color: var(--font-white); }

#main-div {
  background: var(--top-blue);
  height: 250px;
  padding-top: 2rem; }

#media-div p {
  color: var(--card-text-blue); }

#card-section {
  margin-top: -100px;
  margin-bottom: 50px; }
  #card-section .card-1 {
    border-top: 3.5px solid var(--facebook); }
    #card-section .card-1 h3 {
      margin-bottom: 0; }
  #card-section .card-2 {
    border-top: 3.5px solid var(--twitter); }
    #card-section .card-2 h3 {
      margin-bottom: 0; }
  #card-section .card-3 {
    border-top: 3.5px solid var(--youtube); }
    #card-section .card-3 h3 {
      margin-bottom: 0; }
  #card-section .card-4 {
    border-top: 3.5px solid var(--youtube); }
    #card-section .card-4 h3 {
      margin-bottom: 0; }
  #card-section h3 {
    font-weight: 700;
    font-size: 4rem;
    padding-bottom: 0; }
  #card-section .facebook p {
    color: var(--card-text-blue);
    font-weight: 600; }
  #card-section .number h6 {
    color: var(--card-text-blue);
    letter-spacing: 4px; }
  #card-section .up p {
    color: var(--lime-green);
    font-weight: 600; }
  #card-section .tube .up p {
    color: var(--bright-red);
    font-weight: 600; }

#bottom-cards .facebook p {
  color: var(--card-text-blue); }

#bottom-cards .up p {
  color: var(--lime-green); }

#bottom-cards .likes .up p {
  color: var(--bright-red); }

#bottom-cards .reds .up p {
  color: var(--bright-red); }

@media (max-width: 500px) {
  .card {
    margin-bottom: 20px; }
  #media-div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center; }
  #media-div .mb4 {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--card-text-blue); }
  #card-section {
    margin-top: -50px;
    margin-bottom: 50; } }
